extends ../_base

block append head
    link(rel='alternate', href='#{uri}/', hreflang='sv-SE')

block append contents
    div
        p.current
            |System Developer at#{' '}
            a(href='https://www.decerno.se/eng') Decerno
            br
            small
                |previously at#{' '}
                a(href='https://www.aweria.com/en/', title='Aweria - digital systems for emergency care') Aweria
                |#{', '}
                a(href='https://www.origogroup.com/') Scandinfo Marketing Research (now part of Origo Group)
        p.hyper.lang(lang='sv-SE')
            a(href='#{uri}/') Svenska
        dl.summary
            dt
                span Location
            dd
                a(href='https://www.openstreetmap.org/node/25930131#map=3/48.98/27.07')
                    span(lang='sv-SE') Göteborg
                    |, Sweden
            dt.non-hyper
                span Web
            dd.non-hyper
                a(lang='sv-SE', href='#{uri}/en/') victorblomberg
                    span(lang='en') .se
            dt
                span Email
            dd
                span(lang='sv-SE') kontakt!{'&nbsp;'}
                span.humbug at
                |!{'&nbsp;'}
                span(lang='sv-SE') victorblomberg
                |.se
            dt
                span Phone
            dd +46!{'&nbsp;'}760!{'&nbsp;'}853!{'&nbsp;'}009
            dt
                span Links
            dd
                a.external(href='https://github.com/VictorBlomberg') GitHub
            dd
                a.external(href='https://gitlab.com/VictorBlomberg') GitLab
