extends ../_base

block append head
    link(rel='alternate', href='#{uri}/', hreflang='sv-SE')

block title
    title
        |Personal projects – Victor Blomberg

block append contents
    :markdown
        ## Personal projects

        _No active projects are currently public._
