doctype
html(lang='#{lang}')
    head
        block head
            meta(charset='utf-8')
            meta(http-equiv='content-type', content='text/html; charset=utf-8')
            block title
                title= title
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet', type='text/css', href="#{uri}/index.css")
    body.victorblomberg-se
        div.avatar
            img(src='#{uri}/victor-blomberg.png', alt='')
        h1(lang='sv-SE')
            a(href='#{uri}/#{current.path.join("/").replace(/index$/, "").replace(/projects\/$/, "en/")}') Victor Blomberg
        != yield
        block contents
