extends ./_base

block append head
    link(rel='alternate', href='#{uri}/en/', hreflang='en')

block append contents
    div
        p.current
            |Systemutvecklare på#{' '}
            a(href='https://www.decerno.se/') Decerno
            br
            small
                |tidigare på#{' '}
                a(href='https://www.aweria.com/', title='Aweria - digitala system och beslutsstöd för akutsjukvård') Aweria
                |#{', '}
                a(href='https://www.origogroup.com/') Scandinfo Marketing Research (numera del av Origo Group)
        p.hyper.lang(lang='en')
            a(href='#{uri}/en/') English
        dl.summary
            dt
                span Ort
            dd Göteborg
            dt.non-hyper
                span Webb
            dd.non-hyper
                a(href='#{uri}/') victorblomberg.se
            dt
                span E-post
            dd kontakt!{'&nbsp;'}
                span.humbug snabel-a
                |!{'&nbsp;'}victorblomberg.se
            dt
                span Telefon
            dd 0760-85!{'&nbsp;'}30!{'&nbsp;'}09
            dt
                span Länkar
            dd
                a.external(href='https://github.com/VictorBlomberg') GitHub
            dd
                a.external(href='https://gitlab.com/VictorBlomberg') GitLab
